/* Title */
.about {
    height: 100%;
}

.servicing-title {
    font-size: 3rem !important;
    margin-bottom: 20px !important;
} 

.pricing-intro {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.services {
    border-radius: 10px;
    width: 98%;
    margin: 40px auto;
    text-align: left;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #fff;
}



/* Services we offer */
.service-main-heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #245c93;
    padding: 7px 0 7px 0;
}

.services-main {
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    
}


.service-heading {
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding-top: 10px;
}


.services ul {
    margin-top: 10px;
}

.services ul li {
    flex-basis: calc(100% - 20px);
    margin-right: 0; 
}

.services-container {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    border: 2px dashed #245c93;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.service-subheading:first-child {
    margin-top: 0;
}
  
.service-subheading:not(:first-child) {
    margin-top: 40px;
}
  
.service-subheading:last-child {
    margin-bottom: 0;
}

.service-subheading {
    font-size: 1.7rem;
    font-weight: 600;
    margin-left: 20px;
    padding: 10px 0 10px 0;
}

.service-info {
    padding: 20px 20px 0.1px 20px;
    border-radius: 10px;
    margin: 30px auto !important;
    background-color: #72b3f4;
}

.service-text {
    font-size: 1.3rem;
    margin-left: 20px;
    padding: 8px 0 8px 0;
    margin-top: 0;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .list-1, .list-2 {
    flex: 0 0 calc(50% - 10px);
    padding: 0;
    margin: 0;
  }
  
  .list-item {
    margin-bottom: 10px;
  }

  .mail {
    color: #245c93;
    text-decoration: none;
}
  
.mail:hover {
    text-decoration: underline;
}

.servicing-title {
    font-size: 3rem !important;
    margin-bottom: 30px !important;
} 

  
  @media (max-width: 600px) {
    .servicing-title {
        font-size: 1.8rem !important;
        font-weight: bold;
    }
    .pricing-intro {
        font-size: 1.3rem !important;
    }
    .services-main ul li {
        align-content: flex-start !important;
    }
    .services-container, .service-info {
        width: 110% !important;
        padding: 0;
    }
    .service-info {
        padding: 2px !important;

    }
    .services {
        margin: 10px auto;
    }

    .service-heading, .service-subheading, .service-main-heading {
        font-size: 1.5rem;
    }
    .list-container {
        justify-content: flex-start;
        margin-left: 20px;
    }
    .list-container:first-child {
        padding-bottom: 100px;
    }
    .list-item {
      align-self: flex-start;
    }
    .service-text {
        font-size: 1.1rem;
    }
}

    @media (max-width: 565px) {
        .list-2 {
            margin-top: -30px !important;
          }
  }
  

/* 
.price-list {
    margin-bottom: 15px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.4rem;
} 

.repairs-text {
    text-align: center !important;
    font-size: 1.3rem;
    margin-top: 20px !important;
}


.pricing-heading {
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.right-jacket-text, .sizing-text {
    font-size: 1.3rem;
    margin-bottom: 40px !important;
}

.sizing-guidelines, .understanding {
    font-weight: bold !important;
    margin-bottom: -2px !important;
    margin-top: -15px;
    font-size: 1.5rem !important;
}

.understanding {
    margin-top: 20px !important;
}

.levels-section {
    background-color: #eff2f5de;
    border-radius: 10px;
    width: 100% !important;
    margin: 0 auto !important;
    margin-top: 40px !important;
}

.levels-title{
    text-align: center;
    margin-top: 30px !important;
}

.levels {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 20px 20px 0 20px;
}

.levels-text {
    font-size: 1.2rem;
    padding: 0 20px 20px 20px;

}

.lj-photo{
    max-width: 200px;
    max-height: 300px;
    margin: 0 auto;
    display: block !important;
    margin-top: -14px;
    margin-bottom: 15px;
}


.individual {
    border: 2px solid #245c93;
    border-radius: 10px;
    padding: 10px !important;
    margin: 30px auto !important;
    width: 30% !important;
}

  .contact-link-text a, .repairs-text a {
    color: #245c93;
}
  
.contact-link-text {
    text-align: center !important;
    margin-top: 40px;
    font-size: 1.7rem;
}   */



/* @media (max-width: 1200px) {
    .individual {
      width: 90% !important;
      margin: 30px auto !important;
    }
  }

@media (max-width: 700px) {
    .servicing-title {
        font-size: 2.5rem !important;
    }
    .about h2 {
        font-size: 1.8rem !important;
        font-weight: bold;
        margin-bottom: 12px;
    }
    .pricing-intro {
        text-align: left !important;
    }
    .right-jacket-text, .sizing-text {
        font-size: 1.3rem;
        text-align: left !important;
    }
    .understanding, .sizing-guidelines {
        text-align: left !important;
        font-size: 1.4rem !important;
    }
    .levels-text {
        text-align: left !important;
    }
    .individual {
        width: 100% !important;
        margin: 15px auto !important;
    }
    .services {
        font-size: 1.2rem;
    }
    .pricing h2 {
        font-size: 1.7rem !important;
        text-align: left !important;
    }
    .contact-link-text {
        font-size: 1.5rem !important;
        margin-top: -5px;
    }
    .levels-section {
        padding: 10px 30px 10px 30px;
        margin-bottom: 30px !important;
    }
    .list:first-child {
        margin-right: 0px;
    }
    .list:last-child {
        margin-right: 10px;
    }
    .list {
        font-size: 1.2rem;
  }
}


@media (max-width: 500px) {
    .lj-photo {
        max-width: 150px;
        max-height: 200px;
    }
    .levels-text {
        font-size: 1.1rem !important;
        text-align: center !important;
    }
    .levels-section {
        padding: 15px;
        margin: 0 auto !important;
        width: 100% !important;
    }
    .about {
        width: 550px !important;
        margin-left: -30px;
    }
}

@media (max-width: 450px) {
    .lj-photo {
        max-width: 150px;
        max-height: 200px;
    }
    .levels-text {
        font-size: 1.1rem !important;
        text-align: center !important;
    }
    .levels-section {
        padding: 15px;
        margin: 0 auto !important;
        width: 100% !important;
    }
    .about {
        width: 530px !important;
        margin-left: -50px;
    }
}

@media (max-width: 420px) {
    .lj-photo {
        max-width: 150px;
        max-height: 200px;
    }
    .levels-text {
        font-size: 1.1rem !important;
        text-align: center !important;
    }
    .levels-section {
        padding: 15px;
        margin: 0 auto !important;
        width: 100% !important;
    }
    .about {
        width: 480px !important;
        margin-left: -40px;
    }
}

@media (max-width: 375px) {
    .lj-photo {
        max-width: 150px;
        max-height: 200px;
    }
    .levels-text {
        font-size: 1.1rem !important;
        text-align: center !important;
    }
    .levels-section {
        padding: 15px;
        margin: 0 auto !important;
        width: 100% !important;
    }
    .about {
        width: 450px !important;
        margin-left: -45px;
    }
}

@media (max-width: 345px) {
    .levels-text {
        font-size: 0.9rem !important;
        text-align: center !important;
    }
    .about {
        width: 440px !important;
        margin-left: -47px;
        font-size: 0.9px !important;
    }
    .pricing-intro {
        font-size: 1.3rem !important;
    }
}
 */



