/* Reset default styles */
body,
html {
    margin: 0;
    padding: 0;
}

/* Navigation Styles */
.nav-link.active {
    color: #fff !important;
}

.nav-link {
    color: #0081C9 !important;
    font-size: 1.4rem;
    margin-right: 20px;
    padding: 20px;
    background-color: #41b4f3;
    font-family: 'Maven Pro', sans-serif;
}
.navbar {
    background-color: #41b4f3;
    height: auto;
    z-index: 1000;
    padding: 10px 0;
}

.navbar-container {
    background-color: #7DB4D8;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-keys {
    color: #fff;
    font-size: 1.2rem;
    margin-right: 20px;
    padding: 10px;
}

.navbar-title {
    font-size: 2.2rem;
    padding-left: 20px;
}

/* Navbar Brand Styles */
.navbar-brand {
    color: #fff !important;
    font-family: 'Maven Pro', sans-serif;
    font-size: 2.2rem;
    margin-left: -50px;
}

.navbar-brand:hover{
    color: #0081C9 !important;

}


/* logo */
.logo {
    width: 8%;
    height: 8%;
    color: #fff;
}

.logo:hover {
    color: #000;
}

/* Media Queries */
@media (max-width: 1150px) {
    .navbar-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-title,
    .nav-keys {
        padding: 5px;
        font-size: 1rem;
    }

    .navbar-title {
        padding-left: 20px;
    }

    .navbar-brand {
        font-size: 1.7rem;
    }
}
