  .contact-link-text {
    text-align: center !important;
    margin: 40px;
    font-size: 1.7rem;
    color: #245c93;
    font-family: 'Maven Pro', sans-serif;
} 

.contact-link {
  color: #245c93;

}

