/* Main background colour */
body {
    background-color: #c5dff8 !important;
}

/* Title text */
.intro {
    padding: 30px 50px 70px 50px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 3rem;
    margin-bottom: -2rem;
    /* background-color: #eff2f5c3; */
    -webkit-text-fill-color: #0081C9; 
    -webkit-text-stroke: 0.7px #86E5FF; 
    background-color: #ffffff;
}

/* Intro text */
.explain {
    background-color: #eff2f5c3;
    padding: 30px;
    /* border-radius: 10px; */
    font-family: 'Maven Pro', sans-serif;
    color: #366491;
    text-align: center;
    font-size: 1.6rem;
    width: 100% !important;
    margin-top: -9vh !important;
}
  

/* Icon div */
.features {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.5rem;
    color: #366491;
    padding: 30px 50px 30px 50px;
    margin-bottom: 5vh;
    width: 100% !important;
    background-color: #eff2f5c3;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.mb-3 {
    font-size: 3.5rem;
}


/* Feature icons */
.route {
    padding-bottom: 13px;
}

.ring {
    color: #f68249f8;
}

.route {
    color: #ff0000b8;
    margin-top: 2% !important; ;
}

.calendar {
    color: #35a4c6;
    margin-top: 4%;
}

.truck {
    color: #3f9708f8;
}

.pound {
    color: #288886;
}

.ship {
    color: #3e50f3c8;
}

.iconTitle {
    color: #0081C9;
    font-size: 2rem;
}


@media (max-width: 1150px) {
    .intro {
        font-size: 2rem;
    }
    .explain {
        font-size: 1.4rem;
    }
    .features {
        font-size: 1.2rem;
    }
}